---
import Layout from '../layouts/Layout.astro';
import Boton from '../components/Boton.astro';
import iconGit from'../assets/github.svg';
import iconClip from '../assets/resume.svg';
import iconProjects from '../assets/Briefcase.svg';
import iconLinkedin from '../assets/linkedin.svg';
import iconMensaje from'../assets/message.svg';
import '../global.css';
---

<Layout title="Gabriel Gutierrez - Portfolio">
	<main class=" w-full flex justify-center">
		<section class="w-[65%] flex flex-col gap-y-12 items-center">
			<h1 class="text-white text-5xl text-center font-sans font-medium max-w-[1010px] lg:text-[80px] leading-tight">Gabriel es Desarrollador en Bogotá, Colombia</h1>
			<section class="flex justify-center flex-wrap">
				<Boton 
					name="GitHub" 
					linkaso='https://github.com/G4BO11'
					margin="md:mt-4" rotate="md:-rotate-6" 
					translate="md:translate-x-2" 
					icon={iconGit.src}
				/>
				<Boton 
					name="Resume" 
					linkaso='https://drive.google.com/file/d/131bRB16BWylZO6Y2ApVX-Wwif9047Jx2/view?usp=sharing'
					margin="md:mt-1" 
					rotate="md:-rotate-3" 
					translate="md:translate-x-1" 
					icon={iconClip.src}
				/>
				<Boton 
					name="Projects" 
					icon={iconProjects.src}
				/>
				<Boton 
					name="LinkedIn" 
					linkaso='https://www.linkedin.com/in/g4bo11/' 
					margin="md:mt-1" 
					rotate="md:rotate-3" 
					translate="md:-translate-x-1" 
					icon={iconLinkedin.src}
				/>
				<Boton 
					name="Contact" 
					linkaso='https://wa.me/573238002409' 
					margin="md:mt-4" 
					rotate="md:rotate-6" 
					translate="md:-translate-x-2" 
					icon={iconMensaje.src}
				/>
			</section>
			<div class="flex flex-col gap-y-4 shrink-0 items-center">
				<p class="text-white font-sans text-base border-2 py-1 px-4 rounded-3xl text-center">Actualmente</p>
				<p class=" hidden text-white font-sans text-lg">Web Developer en <a class="font-semibold hover:underline decoration-1" href="https://www.logotexo.com/es/" target="_blank">Logo Texo</a></p>
				<p class="text-white font-sans font-bold text-3xl">Freelance</p>
			</div>
		</section>
	</main>
</Layout>

