---
import Layout from '../layouts/Layout.astro';
import Boton from '../components/Boton.astro';
import iconGit from'/public/icons/github.svg';
import iconClip from '/public/icons/resume.svg';
import iconProjects from '/public/icons/Briefcase.svg';
import iconLinkedin from '/public/icons/linkedin.svg';
import iconMensaje from'/public/icons/message.svg';
---

<Layout title="Gabriel Gutierrez - Portfolio"  style="relative bg-[#12141B] w-full min-h-screen grid place-items-center">
	<main class=" w-full flex justify-center">
		<section class="w-[65%] flex flex-col items-center gap-y-4 md:gap-0 rounded">
			<h1 class="max-w-[978px] select-none text-center font-sans text-4xl font-medium leading-tight text-white md:text-5xl md:mb-6 lg:text-6xl 2xl:text-7xl">Gabriel es Desarrollador en Bogotá, Colombia</h1>
			<section class="grid grid-cols-2 gap-3 md:flex md:gap-0 last:bg-white mt-3 md:mt-0">
				<Boton 
					name="GitHub"
					linkaso='https://github.com/G4BO11'
					margin="md:mt-4" rotate="md:-rotate-6" 
					translate="md:translate-x-2" 
					icon={iconGit.src}
					blank
				/>
				<Boton 
					name="Resume" 
					linkaso='https://drive.google.com/file/d/131bRB16BWylZO6Y2ApVX-Wwif9047Jx2/view?usp=sharing'
					margin="md:mt-1" 
					rotate="md:-rotate-3" 
					translate="md:translate-x-1" 
					icon={iconClip.src}
					blank
				/>
				<Boton 
					id="btnMover"
					linkaso='./Proyectos/'
					name="Projects" 
					icon={iconProjects.src}
				/>
				<Boton 
					name="LinkedIn" 
					linkaso='https://www.linkedin.com/in/g4bo11/' 
					margin="md:mt-1" 
					rotate="md:rotate-3" 
					translate="md:-translate-x-1" 
					icon={iconLinkedin.src}
					blank
				/>
				<Boton 
					name="Contact" 
					linkaso='mailto:ggutierrezortegon@gmail.com' 
					margin="md:mt-4" 
					rotate="md:rotate-6" 
					translate="md:-translate-x-2" 
					icon={iconMensaje.src}
					blank
				/>
			</section>
			<div class="flex flex-col gap-y-2 items-center">
				<p class="text-white font-sans text-xs border-2 px-2 py-1 mt-4 rounded-3xl text-center select-none md:mt-0 2xl:text-base 2xl:px-3">Actualmente</p>
				<!-- <p class=" hidden text-white font-sans text-lg">Web Developer en <a class="font-semibold hover:underline decoration-1" href="https://www.logotexo.com/es/" target="_blank">Logo Texo</a></p> -->
				<p class="text-white font-sans font-bold text-2xl select-none 2xl:text-3xl">Freelance</p>
			</div>
		</section>
	</main>
</Layout>
<style>

</style>
