---
import iconSquareLink from '/public/icons/squareLink.svg'

interface Props {
	id?: string
	icon?: string
	linkaso?: string
	margin?: string
	name?: string
	rotate?: string
	translate?: string
	blank?: boolean
}
const { icon, id, margin, name, rotate, translate, linkaso, blank } = Astro.props

const target = blank ? '_blank' : ''
---

<div class="flex flex-col items-center gap-y-4 last:col-span-2">
	<a
		id={id}
		class={`grid place-items-center w-14 h-14 bg-[#272C38] rounded-2xl ${rotate} ${margin} cursor-pointer hover:border-4 hover:bg-zinc-700 transition-all duration-100 ease-in select-none lg:w-16 lg:h-16 2xl:w-20 2xl:h-20`}
		href={linkaso}
		target={target}
	>
		<img src={icon} alt="icono" class="w-6 h-6 md:h-7 md:w-7 xl:h-8 xl:w-8 2xl:h-11 2xl:w-11" />
	</a>
	<p
		class={`opacity-0 bg-white hidden text-zinc-800 px-2 py-1 rounded-2xl items-center ${rotate} ${translate} text-xs text-center transition-opacity duration-300 ease md:flex 2xl:text-base 2xl:px-3`}
	>
		{name}<img
			class="hidden md:ml-1 md:block md:h-3 md:w-3 2xl:h-4 2xl:w-4"
			src={iconSquareLink.src}
			alt="icono"
		/>
	</p>
</div>

<style>
	a:hover + p {
		opacity: 1;
	}
</style>
